body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

/*--------------Side Navigation Styles--------------------*/
#sidenav {
	background-color: black;
	color: white;
	width: 60px;
	height: 100%;
	text-align: center;
	position: fixed;
	border-right: 6px solid #766E6B;
	display: flex;
	flex-direction: column;
}

#sidenav ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}


#sidenav li:nth-child(1){
	margin-bottom: 120px;
}

#sidenav li:nth-child(6){
	margin-top: 195px;
}

#sidenav a {
	display: block;
	padding: 20px;
}

#sidenav a:visited {
	color: white;
}

#sidenav a:hover {
	color: black;
	background-color: white;
}



/*-------------Header Styles-------------------------------*/
header {
	
}

/*------------------Main Navigation-----------------------*/

#mainnav {
}

/*--------------------Container Area------------------------*/

#container {

}

/*-----------------------Footer Styles---------------------*/

footer {

}


/*-------------------Flexbox-----------------------*/
.col {
	flex: 1;
}

.row {
	display: flex;
}