body {
	margin: 0;
	padding: 0;
  	display: flex;
  	height: 100vh;
  	overflow: hidden;
  	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
}

#container {
 flex: 1 0 0;
 overflow-y: auto;
}

/*------------------------Classes to be added to the current active link on a page----------*/
.active {
	color: #766E6B;
}


/*-------------------------Top Navigation items---------------*/

/*--------------Side Navigation Styles--------------------*/
#sidenav {
	background-color: black;
	color: white;
	width: 60px;
	text-align: center;
	border-right: 6px solid #766E6B;
  	overflow-y: auto;
}

#sidenav ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
  	justify-content: center;
}

#sidenav ul li:first-child {
  margin-bottom: auto;
}
#sidenav ul li:last-child {
  margin-top: auto;
  }

#sidenav a {
	padding: 20px;
	display: block;
}

#sidenav a:visited {
	color: white;
}

#sidenav a:hover {
	color: black;
	background-color: white;
}



/*-------------Header Styles-------------------------------*/
header {
	padding: 40px 30px;
	background-color: #F7F6F2;
}

header h1, h3 {
	font-family: 'Tangerine', cursive;
}

header h1 {
	font-size: 90px;
}

header h3 {
	font-size: 40px;
}

header a {
	text-decoration: none;
	color: black;
	padding: 0 0 12px 0;
	line-height: 1.5em;
}

header a:hover {
	transition: color 1s;
	color: #766E6B;
}


.smalltxt {
	font-size: 12px;
}

.topnavitems {
	padding: 20px;
	position: relative;
}

/*------------------Main Navigation-----------------------*/

#mainnav {
	display: flex;
	justify-content: center;
	background-color: black;
}


#mainnav li {
	margin-right: 5px;

}

#mainnav a {
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 10px;
}

#mainnav a:hover {
	font-size: 20px;
	color: grey;
}

.hamburger {
	display: none;
}

/*--------------------ImgContainer Area------------------------*/

#imgcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 30px 20px;
	justify-content: center;
	background-color: #F7F6F2;
}

#imgcontainer img {
	flex: 1;
	width: 40vh;
	padding: 10px;
}

#imgcontainer img:hover {
	border: 2px solid black;
}
/*-----------------------Footer Styles---------------------*/

footer {
	background-color: #F7F6F2;
	padding: 10px 20px;
	border-top: 1px solid grey;

}

footer ul {
	justify-content: center;
}

footer li {
	margin-right: 10px;
}

.developer {
	text-decoration: none;
	color: black;
}

/*-------------------Js Fade In class-------------------*/
.hidden {
	display: none;
}

/*-------------------Flexbox-----------------------*/
.col {
	flex: 1;
}

.row {
	display: flex;
}

/*----------------------Mobile Navigation------------------------*/

.mobilenav {
	background-color: black;
	justify-content: center;
	display: none;
}

.mobilenav ul {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.mobilenav li {
	margin-right: 10px;

}

.mobilenav a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 20px;
}

.mobilenav a:hover {
	background-color: grey;
}

/*-----------------Mobile Footer------------------------------*/
.mobilefooter {
	display: none;
}

.mobilefooter a {
	color: black;
}

/*-----------Media Queries----------------------------*/

@media screen and (max-width: 1024px){
	#sidenav {
		display: none;
	}

	nav.mobilenav.row {

		display: none;
	}

	.mobilefooter {
		display: flex;
	}

}

@media screen and (max-width: 930px){
	#imgcontainer img {
		width: 80vh;
	}
}

@media screen and (max-width: 740px){
	header a {
		display: none;
	}

	.mobilenav {
		display: flex;
	}
}

@media screen and (max-width: 592px){
	header h1 {
		font-size: 70px;
	}

	header h3 {
		font-size: 40px;
	}

	#imgcontainer img {
		width: 95%;
	}

	#mainnav a:not(:first-child) {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	.mobilenav {
		flex-direction: row;
	}
}